
body{
    background-color: rgba(184, 187, 144, 0.829);
    padding: auto 20px auto 20px;
    height: 140vh;
}
th, td{
    border: 1px solid black;
    text-align: left;
    
    
}
table{
    width: 70%;
    margin-left: 15%;
    font-weight: bold;
    padding-top: 5px;
    
}
tr:nth-child(even){
    background-color: rgba(212, 212, 212, 0.61);
}
caption{
    text-align: left;
    font-size:23px;
    padding-top: 30px;
    
}
.signing{
    text-align: right;
    position: absolute;
    right: 27%;
    top: 117%;
    
}
.container{
    background-color: white;
    margin-top: 10%;
    height: 120vh;
    margin-left: 10%;
    margin-right: 10%;
}
.green{
    height: 35px;
    width: 158px;
    background-color: green;
    position: relative;
    top: 14%;
}
.green2{
    height: 35px;
    width: 158px; 
    background-color: green;
    position: relative;
    float: right;
    top: 5%;
}